{
  "presets": ["next/babel"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@styles": "./src/styles",
          "@components": "./src/components",
          "@api": "./src/api",
          "@hooks": "./src/hooks",
          "@common": "./src/components/common",
          "@utils": "./src/utils",
          "@graphql": "./src/graphql"
        }
      }
    ]
  ]
}
